*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* #div{ width: 100vw;
    height: 600px;
    background-color: chartreuse;
    display: flex;
    border: 4px solid black;
    justify-content: space-around;
    flex-wrap: wrap;

} */

#div{
    width:100%;
    background-color: burlywood;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
 }  
#container{
padding: 20px;
    width: 100vw;
    height: 600px;
    background-color: chartreuse;
    display: flex;
    border: 4px solid black;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bx1{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    align-items: center;
    align-content: center;
    text-align: center;  
}

#b1{
    background-color: brown;
}
#b2{
    background-color:grey;
}

#b3{
    background-color: rgb(74, 14, 14);
}

#b4{
    background-color: rgb(15, 147, 154);
}




.b1x{
margin: 50px;
width: 200px;
height: 200px;
background-color: chartreuse;
border: 3px solid black;
padding: 10px;
align-items: center;
align-content: center;
text-align: center;
}
 
@media screen and (min-width:300px) {
    .b1x{

        height: 300px;
        width: 300px;
        background-color: blueviolet;
    }
     
}