*{
   
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    text-decoration: none;
    Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  
    
}
.logo_container{
    height: 50px;
    width: 53px;
      margin-left: 21px;
}
.logo{
    height: 50px;
    width: 53px;
  
}
header{
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    height: 80px;
    text-align: center;
    align-items: center;
    color: #282c3f;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    min-width:526px;
    height: 80px;
    align-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: #282c3f;
}
.action_bar{
    margin-right: 4%;
    color: #282c3f;
}
.sup{
    color: #ff3f6c;
    font-size: 12px;
    width: 23px;
}
.search_bar{
 height: 40px;
   min-width: 400px;
   display: flex;
   align-items: center;
   background-color: #f5f5f6;
   border-radius: 4px 0 0 4px;
   
}
.search_icon{
    height: 20px;
    box-sizing: content-box;
    padding: 10px;
   background-color: #f5f5f6;
   font-weight: 300;

}
.search_input{
   flex-grow: 1;
   height: 40px;
   background-color: #f5f5f6;
    border-radius: 0 4px 4px 0 ;
    border:0;
}