*{
   
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  
    
}
.logo_container{
    height: 50px;
    width: 53px;
      margin-left: 21px;
}
.logo{
    height: 50px;
    width: 53px;
  
}
 header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    text-align: center;
    align-items: center;
    color: #282c3f;
    border-bottom: 2px solid #dfd6d6; 
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}

.nav_bar a:hover{
    border-bottom: 4px solid #f54e77;
}
.action_bar{
    margin-right: 4%;
    color: #282c3f;
}
.sup{
    color: #ff3f6c;
    font-size: 10px;
  
}
.search_bar{
  height: 40px;
 min-width: 200px;
   display: flex;
   align-items: center;
   background-color: #f5f5f6;
   border-radius: 4px 0 0 4px;
   flex-grow: 1;
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
   
}
.search_icon{
    height: 20px;
    box-sizing: content-box;
    padding: 10px;
   background-color: #f5f5f6;
   font-weight: 300;

}
.search_input{
   flex-grow: 2;
   min-width: 300px;
   height: 40px;
   background-color: #f5f5f6;
    border-radius: 0 4px 4px 0 ;
    border:0;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}  */

/* main content */

.banner_container{
    margin-top: 50px;
    padding: 60px 0px;
}
.banner_img{
  width: 100%;
}

.category_heading{
        text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;

}
.category_items{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.sale_item{
width: 250px;
}
.categories{
    width: 250px;
}

.footer_container{
    padding: 30px 0px 40px 0px;
    background-color: #ebeef19f;
    display: flex;
    justify-content: space-evenly;
}
.footer_container h3{
    
    color: #282c3f;
    font-size: 12px;
    margin-bottom: 15px;
   

}
.footer_column{
    display: flex;
    flex-direction:column ;
    text-decoration: none;
    
}
.footer_column a{
    font-size: 12px;
    color: #696b79;
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}

.copyright{
   
    color: #94969f;
   
}