*{
    margin: 0px;
    list-style: none;
    
}
#logo{
    height: 50px;
    width: 210px;
    background-color: burlywood;
    align-content: center;
    margin-bottom: 10px;
    
}
#nav{
    background-color: brown;
    height: 100px;
}

main{
 background-color:blueviolet;
 height: 500px;
}
#footer{
    background-color: cadetblue;
    height: 200px;
}
#form{
   
    background-color: aliceblue;
    height: 200px;
    width: 250px;
    align-content: center;
    align-content: space-between;
    text-align: center;
    
}
th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th[scope="col"] {
  background-color: #505050;
  color: white;
}

th[scope="row"] {
  background-color: #d6ecd4;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #eeeeee;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}