*{
    
    margin: 0px;
    padding: 0px;

}

.div{
    height: 700px;
    width: 350px;
    background-color: aqua;
    margin: 30px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
}
.display{
    width: 87%;
    margin: 20px;
    height: 120px;
     border-radius: 8px;
     font-size:x-large;
}
.button{
    height: 70px;
    width: 85px;
   margin: 10px;
    border-radius: 8px;
    background-color: cadetblue;
    font-size: 20px;

}